VITE_BASE=/
VITE_AUTH_API=http://localhost:PORT
VITE_USER_API=http://localhost:PORT
VITE_FOLLOW_API=http://localhost:PORT
VITE_POST_API=http://localhost:PORT
VITE_BLOCK_API=http://localhost:PORT
VITE_INTERACTION_API=http://localhost:PORT
VITE_FEED_API=http://localhost:PORT